core-bc/composites/schema/src/main/resources/schema/TD_USERPROFILE_2_0/schemas/interactions/GetSubjectOfCare/GetSubjectOfCareResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           targetNamespace="urn:mvk:itintegration:userprofile:GetSubjectOfCareResponder:2" version="2.0" 
           xmlns:tns="urn:mvk:itintegration:userprofile:GetSubjectOfCareResponder:2" 
           xmlns:core="urn:mvk:itintegration:userprofile:2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:import namespace="urn:mvk:itintegration:userprofile:2" schemaLocation="../../core_components/mvk_itintegration_userprofile_2.0.xsd"/>
  <xs:element name="GetSubjectOfCare" type="tns:GetSubjectOfCareType"/>
  <xs:element name="GetSubjectOfCareResponse" type="tns:GetSubjectOfCareResponseType"/>
  <xs:complexType name="GetSubjectOfCareType">
    <xs:sequence>
      <xs:element name="subjectOfCare" type="core:SubjectOfCareIdType"/>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSubjectOfCareResponseType">
    <xs:sequence>
      	<xs:element name="subjectOfCare" type="core:SubjectOfCareType" maxOccurs="1" minOccurs="0"/>
    	<xs:element	name="unregisterCode" type="xs:string" maxOccurs="1" minOccurs="0" />
    	<xs:element name="resultCode" type="core:ResultCodeEnum" minOccurs="1" />
  		<xs:element name="resultText" type="xs:string" minOccurs="0" />
  		<xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
  	</xs:sequence>
  </xs:complexType>
</xs:schema>