core-bc/composites/schema/src/main/resources/schema/TD_USERPROFILE_2_0/schemas/interactions/GetUserProfileByAgent/GetUserProfileByAgentResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           targetNamespace="urn:mvk:itintegration:userprofile:GetUserProfileByAgentResponder:2" version="2.0" 
           xmlns:tns="urn:mvk:itintegration:userprofile:GetUserProfileByAgentResponder:2" 
           xmlns:core="urn:mvk:itintegration:userprofile:2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  	<xs:import namespace="urn:mvk:itintegration:userprofile:2" schemaLocation="../../core_components/mvk_itintegration_userprofile_2.0.xsd"/>
  	<xs:element name="GetUserProfileByAgent" type="tns:GetUserProfileByAgentType"/>
  	<xs:element name="GetUserProfileByAgentResponse" type="tns:GetUserProfileByAgentResponseType"/>
  	<xs:complexType name="GetUserProfileByAgentType">
    	<xs:sequence>
      		<xs:element name="subjectOfCareId" type="core:SubjectOfCareIdType"/>
			<xs:element name="objectId" type="xs:string" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="GetUserProfileByAgentResponseType">
    	<xs:sequence>
			<xs:element name="agentName" type="xs:string" minOccurs="0" />
			<xs:element name="agentType" type="xs:string" minOccurs="0" />
      		<xs:element name="currentUserProfile" type="core:UserProfileType" minOccurs="0"/>
			<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
    		<xs:element name="resultCode" type="core:ResultCodeEnum" minOccurs="1" />
  			<xs:element name="resultText" type="xs:string" minOccurs="0" />
  			<xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
  		</xs:sequence>
  	</xs:complexType>
</xs:schema>