core-bc/composites/schema/src/main/resources/schema/TD_INBOX_2_0/schemas/interactions/AddMessage/AddMessageResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           targetNamespace="urn:mvk:crm:casemanagement:inbox:AddMessageResponder:2" version="2.0" 
           xmlns:tns="urn:mvk:crm:casemanagement:inbox:AddMessageResponder:2" 
           xmlns:core="urn:mvk:crm:casemanagement:inbox:2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  	<xs:import namespace="urn:mvk:crm:casemanagement:inbox:2" schemaLocation="../../core_components/mvk_crm_casemanagement_inbox_2.0.xsd"/>
  	<xs:element name="AddMessage" type="tns:AddMessageType"/>
  	<xs:element name="AddMessageResponse" type="tns:AddMessageResponseType"/>
	<xs:element name="FaultInfo" type="tns:FaultInfoType" />
	<xs:complexType name="FaultInfoType">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>	
  	<xs:complexType name="AddMessageType">
    	<xs:sequence>
    		<xs:element name="subjectOfCareId" type="core:SubjectOfCareIdType" />
      		<xs:element name="message" type="core:MessageCaseType" />
			<xs:element name="notify" type="xs:boolean" />
			<xs:element name="sourceSystem" type="xs:string" minOccurs="0" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="AddMessageResponseType">
    	<xs:sequence>
			<xs:element name="message" type="core:MessageCaseType" maxOccurs="1" minOccurs="0"/>
    		<xs:element name="resultCode" type="core:ResultCodeEnum" minOccurs="1" />
  			<xs:element name="resultText" type="xs:string" minOccurs="0" />
			<xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
		</xs:sequence>
  </xs:complexType>
</xs:schema>